/* #name{
    background-color: rgb(249, 190, 112);
    width: 13%;
    height: 30px;
    margin-left: 690px;
    }
    
    #email{
        background-color: rgb(249, 190, 112);
        width: 13%;
        height: 30px;
        margin-left: 690px;
    
    }
    
    #Password{
        background-color: rgb(249, 190, 112);
        width: 13%;
        height: 30px;
        margin-left: 690px;
    
    }
    
    .combinesignandlogin{
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        margin-left: 730px;
    
    }
    
    
    #loginemail{
        background-color: rgb(249, 190, 112);
        width: 13%;
        height: 30px;
        margin-left: 690px;
    }
    
    #loginPassword{
        background-color: rgb(249, 190, 112);
        width: 13%;
        height: 30px;
        margin-left: 690px;
    }
    
    
    .combinesignandlogins{
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        margin-left: 750px;
    } */